<p>withdraw works!</p>
<table>
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Account Type</th>
            <th>Balance (R)</th>
        </tr>
    </thead>
    <tr *ngFor="let account of accounts; let i = index" (click)="withdraw(i)">
        <td>{{account.name}}</td>
        <td>{{account.type}}</td>
        <td>{{account.balance}}</td>
    </tr>
</table>